ul {
  gap: 2.2rem;
}

.mt-n2 {
  margin-left: 10rem;
}

.text {
  color: #222222;
  font: normal normal bold;
  font-weight: 900;
  font-size: 2rem;
}

.v2 {
  position: relative;
  text-decoration: none;
  font-family: sans-serif;
  color: #a0a0a0;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.v2:after {
  content: "";
  position: absolute;
  background-color: #146cda;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}
/* .v2:before {
  content: "";
  position: absolute;
  background-color: #00000012;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
} */
.v2:hover {
  color: #146cda !important;
}

.v2:hover:after {
  width: 100%;
}

.gap-2 {
  gap: 5rem;
}

.btn-colore {
  background-color: #146cda;
  color: #f7f7f7;
  font-size: 1rem;
}

.bg-colore {
  background-color: #e1fff1;
  color: #146cda;
  font-size: 0.9rem;
}

.bg-white {
  background-color: #fff !important;
}
.ml {
  margin-left: 20rem;
}

.line {
  background-color: #146cda;
  width: 100%;
}

.content-space-2 {
  padding-bottom: 4.5rem !important;
}

.content-space-b-lg-3 {
  padding-top: 5rem !important;
}

/* ************************************************************ */

.fixed-top {
  top: 0;
  padding: 20px 0 12px 20px;
}

.fixed-top .navbar-nav li a {
  font-size: 19px;
  color: #555 !important;
  transition: 0.5s ease-in-out;
}

.fixed-top .navbar-nav li a:hover {
  color: yellow !important;
}

.main-bar {
  position: absolute;
  width: 100%;
  top: 8%;
  position: fixed;
  z-index: 6;
}

.main-bar .navbar-nav {
  margin-left: 7rem;
  font-size: 0.5rem;
}
.nav-link {
  padding: 0;
}

.relative {
  position: relative;
}

.absoluteleft {
  position: absolute;
  top: 20%;
  left: 0;
}

.absoluteright {
  position: absolute;
  top: 20%;
  right: 0;
}

/* ************************************** */

.main-img {
  position: relative;
}

.slide-btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 5rem;
  background-color: #e1fff1;
  color: #bbbbbb;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.slide-btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 5rem;
  background-color: #e1fff1;
  color: #bbbbbb;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.text-head {
  position: absolute;
  top: 40%;
  left: 10%;
}

.order-btn {
  background-color: #000000;
  color: #f7f7f7;
  height: 3rem;
  width: 40%;
  border-radius: 3rem !important;
}
.text2 {
  font-size: 4rem;
  font-weight: 900;
  font: normal bold;
}

.dark-col {
  color: #000000;
}

.jumbotron {
  color: white;
  background-image: url("/img/main1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}

/* ***************************************************************** */

.v1 {
  background: linear-gradient(#146cda 30%, #e5e5e5 100%) no-repeat;
  background-size: 22% 20px;
  /* width: 38% !important; */
  padding: 0.1rem;
}
.position-absolute {
  left: 30% !important;
}

.box-col {
  background: #fff;
  border-radius: 0;
  border: #fff;
}

.h5-font {
  font-size: 1rem;
}

.rights-ml {
  margin-right: 10rem;
}

.rights-mr-top {
  margin-right: 10rem;
}

.list-py-1 {
  line-gap: 1rem;
}

.rounded-pill {
  border-radius: 2rem;
}

/* *************************top*************** */

.top-link-icon {
  position: relative;
}

.top-2 {
  display: inline-block;
  position: absolute;
  right: 65%;
  background-color: #146cda;
  border-radius: 6rem;
  width: 0.9rem;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
}

.top-link-icon-3 {
  position: relative;
}

.top-3 {
  display: inline-block;
  position: absolute;
  right: 65%;
  background-color: #146cda;
  border-radius: 6rem;
  width: 0.9rem;
  font-size: 0.5rem;
  color: #fff;
  text-align: center;
}

.col-md-3 {
  display: inline-block;
  margin-left: -4px;
}
.col-md-3 img {
  width: 100%;
  height: auto;
}
body .carousel-indicators li {
  background-color: red;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon {
  background-color: #e5e5e5;
}
body .no-padding {
  padding-left: 0;
  padding-right: 0;
}

.mx-top {
  margin-top: 12rem;
}
